@use 'styles/variables';

.footer_main {
    background-color: variables.$primary;
    color: variables.$light;
}

.link_text {
    font-size: 1.2rem !important;
    color: variables.$light;
    text-decoration: none;
}

.contact_icon {
    font-size: 1.5rem !important;
    vertical-align: -.125em;
    width: 1em;
    height: 1em;
    text-decoration: none;
    color: variables.$light;
}