@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root  {
    --background: 0 100% 95%;
    --foreground: 0 5% 0%;
    --card: 0 50% 90%;
    --card-foreground: 0 5% 10%;
    --popover: 0 100% 95%;
    --popover-foreground: 0 100% 0%;
    --primary: 0 50.9% 55.3%;
    --primary-foreground: 24, 45%, 98%;
    --secondary: 18, 100%, 90%;
    --secondary-foreground: 230, 21%, 16%;
    --darkblue: 230, 21%, 16%;
    --darkblue-foreground: 24, 45%, 98%;
    --muted: -38 30% 85%;
    --muted-foreground: 0 5% 35%;
    --accent: -38 30% 80%;
    --accent-foreground: 0 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 30% 50%;
    --input: 0 30% 18%;
    --ring: 0 50.9% 55.3%;
    --radius: 0.5rem;
  }
  /*TODO: сделать тёмную тему*/
  .dark  {
    
  }
  
}