.search-text {
    font-size: 26px;
}

.name-input {
    max-width: 600px;
}

.search-button {
    @include button-variant(
        $secondary,
        #FFF
    );
}

.name-input-field {
    border-color: $secondary;
    border-width: 2px;
}