.navbar {
    background-color: #000000;
    color: #fff;
}

.navbar-brand {
    margin-left: 10px;
    color: rgba(255, 255, 255);
    &:hover {
        color:rgb(173, 255, 228);
    }
}

.nav-items {
    margin-left: 5%;
    margin-right: 10%;
}

.nav-item {
    margin: 0px 1%;
    color: #fff;
    &:hover {
        color:rgb(173, 255, 228);
    }
    &:focus,&:active {
        color: rebeccapurple;
    }
    font-size: 16px;
    width: auto;
}

.button-profile {
    min-width: 150px;
}

.button-exit {
    min-width: 150px;
    &:hover {
        color: #fff;
    }
}