.profile-page {
    .nav-tabs{
        .nav-item {
            font-size: 20px;
        }
    }
}

.profile-page-info {
    margin: 10px 5px 0px 5px !important;
}

.profile-picture-container {
    box-shadow: 2px 2px 2px 2px #00000040;
    border-radius: 5px;
    .profile-picture {
        max-width: 300px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
    .change-profile-picture-btn-container {
        margin-top: 5px;
    }
}
.profile-information-container {
    margin-left: 20px !important;
}
