@import "./boostrapOverrides.scss";

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "./itemcard.scss";
@import "./navbar.scss";
@import "./itemsearch.scss";
@import "./advanceditemsearch.scss";
@import "./searchresults.scss";
@import "./profile.scss";
@import "./labelitem.scss";
@import "./createForm.scss";
@import "./imagePreview.scss";

@import "../recipes/recipePage.scss";
 
 .row {
   padding: 0;
   margin: 0;
 }
 .col {
   padding: 0;
   margin: 0;
 }
 .container {
  padding: 0;
  margin: 0;
  max-width: 100%;
 }

 .button-transparent {
  @include button-variant(
    transparent,
    transparent,
    #fff,
    transparent,
    transparent,
    #000,
    transparent,
    transparent,
    transparent,
    transparent,
  );
}